<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @if (@ViewData.ContainsKey("Title"))
    {
        <title>@ViewData["Title"]</title>
    }

    @if (@ViewData.ContainsKey("Title"))
    {
        <meta name="title" content="@ViewData["Title"]" />
    }

    @if (@ViewData.ContainsKey("Description"))
    {
        <meta name="Description" content="@ViewData["Description"]" />
    }

    @if (@ViewData.ContainsKey("Author"))
    {
        <meta name="Author" content="@ViewData["Author"]" />
    }

    @if (ViewData.ContainsKey("Published"))
    {
        <meta name="article:published_time" content="@ViewData["Published"]" />
    }
    <link rel="canonical" href="@ViewData["Canonical"]" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<app-root></app-root>
<section id="serverContent">
    <partial name="_Menu"/>
    @RenderBody()
</section>

<script src="~/client/polyfills.js" asp-append-version="true"></script>
<script src="~/client/app.js" asp-append-version="true"></script>
<script src="~/client/style.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>