<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="Description" content="@ViewData["Description"]" />
    <meta name="Author" content="@ViewData["Author"]" />
    <link rel="canonical" href="@ViewData["Canonical"]"/>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<app-root></app-root>

<section id="serverContent">
    @RenderBody()
</section>

<script src="~/client/polyfills.js" asp-append-version="true"></script>
<script src="~/client/app.js" asp-append-version="true"></script>
<script src="~/client/style.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>